.buttongroup {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.button {
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: rgb(196, 196, 145);
  border-radius: 20px;
  border: 1px solid gray;
  box-shadow: 0.5px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 12px;
}
.button:hover {
  background-color: rgb(126, 126, 91);
  color: wheat;
}
